.filterName {
  width: 250px;
  display: flex;
  flex-direction: column;
  /* margin: 5px auto 1rem; */
  align-items: center;
  font-size: large;
  text-align: left;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.filterLabel {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin:20px ;
  align-items: flex-start;
  font-size: large;
  text-align: left;
  padding: 5px 1rem 5px 1rem;
  color: teal;
}
