.form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}




.formLabel {
  width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 5px auto;
  align-items: center;
  font-size: large;
  text-align: left;
  padding: 5px 1rem 5px 1rem;
  color: teal;
}

.formName {
  margin: 5px;
  width: 250px;
}
.formNumber {
  appearance: none;
  margin: 5px;
  width: 250px;
  border: 1px solid --chakra-colors-gray-300;
  border-radius: 5px;
  padding: 6px;
  outline: none;
      transition-property: var(--chakra-transition-property-common);
        transition-duration: var(--chakra-transition-duration-normal);

}
.formNumber:hover,
.formNumber:focus{
    border-color: var(--chakra-colors-gray-300);
}

/* .formNumber:focus, */
/* .formNumber:not(:placeholder-shown) */
/* .formNumber:not(::placeholder) */
.formNumber:focus-visible
{
z-index: 1;
  border-color: #319795;
  box-shadow: 0 0 0 1px #319795;
}

